<img src='http://bit.ly/1eze8aE' style='border: dashed cyan;'>
<h1> "Hi there my name is <%= @name %>" </h1>
<p>Your Name: <input type='text'></p>
<p>Your Favorite Food: <input type='text'></p>
<input type='submit'>
